<% if optional %>
   <% provide(:h1, @user.vname +  "'s ocs") %>
<% else %>
   <% provide(:h1, "OC List") %>
<% end %>
<div class="formlinks"><%= paginate @ocs %></div>
<br>
<div class="pageformat">
   <% @ocs.each_with_index do |oc, index| %>
      <% if(index % 3 == 2) %>
         <div class="container">
      <% else %>
         <!--Container space-->
         <div class="container">
      <% end %>
         <p class="formlinks"><%= link_to oc.name, user_oc_path(oc.user, oc) %></p>
         <p>Created</p>
         <p><%= distance_of_time_in_words_to_now oc.created_on %> ago on</p>
         <p>(<%= oc.created_on.strftime("%B-%d-%Y") %>)</p>
         <p>Updated</p>
         <p><%= distance_of_time_in_words_to_now oc.updated_on %> ago on</p>
         <p>(<%= oc.updated_on.strftime("%B-%d-%Y") %>)</p>
         <% if !oc.reviewed_on.nil? %>
            <p>Reviewed</p>
            <p><%= distance_of_time_in_words_to_now oc.reviewed_on %> ago on</p>
            <p>(<%= oc.reviewed_on.strftime("%B-%d-%Y") %>)</p>
         <% end %>
         <% if oc.image.to_s != "" %>
            <br>
            <p><%= image_tag(oc.image_url(:thumb)) %></p>
         <% end %>
         <% if !optional %>
            <br>
            <% if oc.user.userinfo.miniavatar.to_s != "" %>
               <p><%= image_tag(oc.user.userinfo.miniavatar_url(:thumb)) %></p>
            <% end %>
            <p class="formlinks">Owner: <%= getUserPrivilege(oc.user) %><%= link_to oc.user.vname, user_path(oc.user) %></p>
            <p>Group: <%= oc.bookgroup.name %></p>
            <p>Viewer: <%= oc.gviewer.name %></p>
            <p>Status: <%= getActivity(oc.user) %>
               <% if getActivity(oc.user) != "Online" && getActivity(oc.user) != "Inoperable" %>
                  for <%= distance_of_time_in_words_to_now getTime(oc.user) %>
               <% end %>
            </p>
            <br>
         <% else %>
            <br>
            <p>Group: <%= oc.bookgroup.name %></p>
            <p>Viewer: <%= oc.gviewer.name %></p>
            <br>
         <% end %>
         <p class="textindent"><%= textFormater("Multi", oc.description, "All").html_safe %></p>
      </div>
      <% if index % 3 == 2 %>
         <br>
         <br>      
      <% end %>
   <% end %>
</div>
<% if optional %>
   <p class="formlinks"><%= link_to 'Back', user_path(@user) %></p>
<% else %>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
<% end %>
