<% provide(:h1, @oc.name) %>
<p id="notice"><%= notice %></p>
<div class="pageformat">
   <% if current_user && (current_user.id == @oc.user_id || current_user.pouch.privilege == "Admin") %>
      <div class="container"><%= button_to 'Edit', edit_user_oc_path(@oc.user, @oc), method: :get, class: "button editbutton" %></div> <div class="container"><%= button_to 'Destroy', [@oc.user, @oc], method: :delete, class: "button destroybutton", data: { confirm: 'Are you sure?' } %></div>
   <% end %>
   <p>Created: <%= distance_of_time_in_words_to_now @oc.created_on %> ago on (<%= @oc.created_on.strftime("%B-%d-%Y") %>)</p>
   <% if !@oc.reviewed_on.nil? %>
      <p>Reviewed: <%= distance_of_time_in_words_to_now @oc.reviewed_on %> ago on (<%= @oc.reviewed_on.strftime("%B-%d-%Y") %>)</p>
   <% end %>
   <p>Updated: <%= distance_of_time_in_words_to_now @oc.updated_on %> ago on (<%= @oc.updated_on.strftime("%B-%d-%Y") %>)</p>
   <% if @oc.image.to_s != "" %>
      <br>
      <p><%= image_tag(@oc.image_url(:thumb)) %></p>
   <% end %>
   <% if @oc.ogg.to_s != "" || @oc.mp3.to_s != "" %>
      <br>
      <p>Theme song: <%= audio_tag(getMusicOrVideo("Sound", @oc), :controls => true) %></p>
   <% end %>
   <% if @oc.voiceogg.to_s != "" || @oc.voicemp3.to_s != "" %>
      <br>
      <p>Character's voice: <%= audio_tag(getMusicOrVideo("Sound", @oc), :controls => true) %></p>
   <% end %>
   <br>
   <p>Nickname: <%= @oc.nickname %></p>
   <p>Species: <%= @oc.species %></p>
   <p>Age: <%= @oc.age %></p>
   <p>Alignment: <%= @oc.alignment %></p>
   <p>Personality</p>
   <p class="textindent"><%= textFormater("Multi", @oc.personality, "All").html_safe %></p>
   <p>Likes/Dislikes</p>
   <p class="textindent"><%= textFormater("Multi", @oc.likesanddislikes, "All").html_safe %></p>
   <p>Background/History</p>
   <p class="textindent"><%= textFormater("Multi", @oc.backgroundandhistory, "All").html_safe %></p>
   <p>Relatives</p>
   <p class="textindent"><%= textFormater("Multi", @oc.relatives, "All").html_safe %></p>
   <p>Family</p>
   <p class="textindent"><%= textFormater("Multi", @oc.family, "All").html_safe %></p>
   <p>Friends</p>
   <p class="textindent"><%= textFormater("Multi", @oc.friends, "All").html_safe %></p>
   <p>World</p>
   <p class="textindent"><%= textFormater("Multi", @oc.world, "All").html_safe %></p>
   <p>Alliances</p>
   <p class="textindent"><%= textFormater("Multi", @oc.alliance, "All").html_safe %></p>
   <p>Elements</p>
   <p class="textindent"><%= textFormater("Multi", @oc.elements, "All").html_safe %></p>
   <p>Appearance</p>
   <p class="textindent"><%= textFormater("Multi", @oc.appearance, "All").html_safe %></p>
   <p>Clothing</p>
   <p class="textindent"><%= textFormater("Multi", @oc.clothing, "All").html_safe %></p>
   <p>Accessories</p>
   <p class="textindent"><%= textFormater("Multi", @oc.accessories, "All").html_safe %></p>
   <br>
   <p class="textindent"><%= textFormater("Multi", @oc.description, "All").html_safe %></p>
   <br>
   <% if @oc.user.userinfo.miniavatar.to_s != "" %>
      <p><%= image_tag(@oc.user.userinfo.miniavatar_url(:thumb)) %></p>
   <% end %>
   <p class="formlinks">Owner: <%= getUserPrivilege(@oc.user) %><%= link_to @oc.user.vname, user_path(@oc.user) %></p>
   <p>Group: <%= @oc.bookgroup.name %></p>
   <p>Viewer: <%= @oc.gviewer.name %></p>
   <p>Status: <%= getActivity(@oc.user) %>
      <% if getActivity(@oc.user) != "Online" && getActivity(@oc.user) != "Inoperable" %>
         for <%= distance_of_time_in_words_to_now getTime(@oc.user) %>
      <% end %>
   </p>
   <br>
   <p>Tag list</p>
   <% if(!@oc.octag.tag1_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag1_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag1_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag2_id.nil?) %>
      <div class="container"><%= " " + getTagname(@oc.octag.tag2_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag2_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag3_id.nil?) %>
      <div class="container"><%= " " + getTagname(@oc.octag.tag3_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag3_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag4_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag4_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag4_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag5_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag5_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag5_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag6_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag6_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag6_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag7_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag7_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag7_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag8_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag8_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag8_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag9_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag9_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag9_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag10_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag10_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag10_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag11_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag11_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag11_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag12_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag12_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag12_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag13_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag13_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag13_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag14_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag14_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag14_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag15_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag15_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag15_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag16_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag16_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag16_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag17_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag17_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag17_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag18_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag18_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag18_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag19_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag19_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag19_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <% if(!@oc.octag.tag20_id.nil?) %>
      <div class="container"><%= getTagname(@oc.octag.tag20_id) %></div>
      <% if(current_user && current_user.id == @oc.user_id) %>
         <div class="container"><%= button_to 'X', octags_removetag_path(:octag_id=>@oc.octag.id, :tagid=>@oc.octag.tag20_id), method: :post, class: "button destroybutton" %></div>
      <% end %>
   <% end %>
   <br>
   <% if current_user && current_user.id == @oc.user_id %>
      <br>
      <%= form_for(:octag, url: octags_addtag_path(:octag_id=>@oc.octag.id), method: :post) do |form| %>
         <p>
            <%= form.label :name, "Tagname" %>
            <%= form.text_field :name %>
         </p>
         <br>
         <p>
            <%= form.label :tagslot, "Pick a slot from 1 - 20" %>
            <%= form.number_field :tagslot %>
         </p>
         <br>
         <div class="pageformat"><%= form.submit "Add Tag", class: "button submitbutton" %></div>
      <% end %>
   <% end %>
</div>
<br>
<p class="formlinks"><%= link_to "User OCs", user_ocs_path(@oc.user) %> |
<%= link_to "OC List", ocs_path %></p>
