<% provide(:h1, @monster.name) %>
<p id="notice"><%= notice %></p>
<div class="pageformat">
   <% if current_user && (current_user.id == @monster.user_id || current_user.pouch.privilege == "Admin") %>
      <div class="container"><%= button_to 'Edit', edit_user_monster_path(@monster.user, @monster), method: :get, class: "button editbutton" %></div> <div class="container"><%= button_to 'Destroy', [@monster.user, @monster], method: :delete, class: "button destroybutton", data: { confirm: 'Are you sure?' } %></div>
   <% end %>
   <p>Created: <%= distance_of_time_in_words_to_now @monster.created_on %> ago on (<%= @monster.created_on.strftime("%B-%d-%Y") %>)</p>
   <% if !@monster.reviewed_on.nil? %>
      <p>Reviewed: <%= distance_of_time_in_words_to_now @monster.reviewed_on %> ago on (<%= @monster.reviewed_on.strftime("%B-%d-%Y") %>)</p>
   <% end %>
   <p>Updated: <%= distance_of_time_in_words_to_now @monster.updated_on %> ago on (<%= @monster.updated_on.strftime("%B-%d-%Y") %>)</p>
   <% if @monster.image.to_s != "" %>
      <br>
      <p><%= image_tag(@monster.image_url(:thumb)) %></p>
   <% end %>
   <% if @monster.ogg.to_s != "" || @monster.mp3.to_s != "" %>
      <br>
      <p>Monster song: <%= audio_tag(getMusicOrVideo("Sound", @monster), :controls => true) %></p>
   <% end %>
   <br>
   <p>Physical stats</p>
   <p>Level: <%= @monster.level %></p>
   <p>Hp: <%= @monster.hp %></p>
   <p>Atk: <%= @monster.atk %></p>
   <p>Def: <%= @monster.def %></p>
   <p>Agi: <%= @monster.agility %></p>
   <br>
   <p>Magical stats</p>
   <p>MP: <%= @monster.mp %></p>
   <p>Matk: <%= @monster.matk %></p>
   <p>Mdef: <%= @monster.mdef %></p>
   <p>Magi: <%= @monster.magi %></p>
   <br>
   <p>Monster stats</p>
   <p>Exp: <%= @monster.exp %></p>
   <p>Loot: <%= @monster.loot %></p>
   <p>Mischief: <%= @monster.mischief %></p>
   <p>Rarity: <%= @monster.rarity %></p>
   <p>Retired pet: <%= @monster.retiredmonster %></p>
   <p>Cost: <%= @monster.cost %></p>
   <p>Type: <%= @monster.monstertype.name %></p>
   <p>Element: <%= @monster.element.name %></p>
   <br>
   <p class="textindent"><%= textFormater("Multi", @monster.description, "All").html_safe %></p>
   <br>
   <% if @monster.user.userinfo.miniavatar.to_s != "" %>
      <p><%= image_tag(@monster.user.userinfo.miniavatar_url(:thumb)) %></p>
   <% end %>
   <p class="formlinks">Artist: <%= getUserPrivilege(@monster.user) %><%= link_to @monster.user.vname, user_path(@monster.user) %></p>
   <p>Status: <%= getActivity(@monster.user) %>
      <% if getActivity(@monster.user) != "Online" && getActivity(@monster.user) != "Inoperable" %>
         for <%= distance_of_time_in_words_to_now getTime(@monster.user) %>
      <% end %>
   </p>
</div>
<br>
<p class="formlinks"><%= link_to "User Monsters", user_monsters_path(@monster.user) %> |
<%= link_to "Monster List", monsters_path %></p>
