<p id="notice"><%= notice %></p>

<p>
  <strong>Partner name:</strong>
  <%= @monsterbattle.partner_name %>
</p>

<p>
  <strong>Partner plevel:</strong>
  <%= @monsterbattle.partner_plevel %>
</p>

<p>
  <strong>Partner pexp:</strong>
  <%= @monsterbattle.partner_pexp %>
</p>

<p>
  <strong>Partner chp:</strong>
  <%= @monsterbattle.partner_chp %>
</p>

<p>
  <strong>Partner hp:</strong>
  <%= @monsterbattle.partner_hp %>
</p>

<p>
  <strong>Partner atk:</strong>
  <%= @monsterbattle.partner_atk %>
</p>

<p>
  <strong>Partner def:</strong>
  <%= @monsterbattle.partner_def %>
</p>

<p>
  <strong>Partner agility:</strong>
  <%= @monsterbattle.partner_agility %>
</p>

<p>
  <strong>Partner strength:</strong>
  <%= @monsterbattle.partner_strength %>
</p>

<p>
  <strong>Partner mlevel:</strong>
  <%= @monsterbattle.partner_mlevel %>
</p>

<p>
  <strong>Partner mexp:</strong>
  <%= @monsterbattle.partner_mexp %>
</p>

<p>
  <strong>Partner cmp:</strong>
  <%= @monsterbattle.partner_cmp %>
</p>

<p>
  <strong>Partner mp:</strong>
  <%= @monsterbattle.partner_mp %>
</p>

<p>
  <strong>Partner matk:</strong>
  <%= @monsterbattle.partner_matk %>
</p>

<p>
  <strong>Partner mdef:</strong>
  <%= @monsterbattle.partner_mdef %>
</p>

<p>
  <strong>Partner magi:</strong>
  <%= @monsterbattle.partner_magi %>
</p>

<p>
  <strong>Partner mstr:</strong>
  <%= @monsterbattle.partner_mstr %>
</p>

<p>
  <strong>Partner lives:</strong>
  <%= @monsterbattle.partner_lives %>
</p>

<p>
  <strong>Partner damage:</strong>
  <%= @monsterbattle.partner_damage %>
</p>

<p>
  <strong>Partner activepet:</strong>
  <%= @monsterbattle.partner_activepet %>
</p>

<p>
  <strong>Creaturetype:</strong>
  <%= @monsterbattle.creaturetype_id %>
</p>

<p>
  <strong>Partner rarity:</strong>
  <%= @monsterbattle.partner_rarity %>
</p>

<p>
  <strong>Monster name:</strong>
  <%= @monsterbattle.monster_name %>
</p>

<p>
  <strong>Monster mischief:</strong>
  <%= @monsterbattle.monster_mischief %>
</p>

<p>
  <strong>Monster plevel:</strong>
  <%= @monsterbattle.monster_plevel %>
</p>

<p>
  <strong>Monster chp:</strong>
  <%= @monsterbattle.monster_chp %>
</p>

<p>
  <strong>Monster hp:</strong>
  <%= @monsterbattle.monster_hp %>
</p>

<p>
  <strong>Monster atk:</strong>
  <%= @monsterbattle.monster_atk %>
</p>

<p>
  <strong>Monster def:</strong>
  <%= @monsterbattle.monster_def %>
</p>

<p>
  <strong>Monster agility:</strong>
  <%= @monsterbattle.monster_agility %>
</p>

<p>
  <strong>Monster mlevel:</strong>
  <%= @monsterbattle.monster_mlevel %>
</p>

<p>
  <strong>Monster cmp:</strong>
  <%= @monsterbattle.monster_cmp %>
</p>

<p>
  <strong>Monster mp:</strong>
  <%= @monsterbattle.monster_mp %>
</p>

<p>
  <strong>Monster matk:</strong>
  <%= @monsterbattle.monster_matk %>
</p>

<p>
  <strong>Monster mdef:</strong>
  <%= @monsterbattle.monster_mdef %>
</p>

<p>
  <strong>Monster magi:</strong>
  <%= @monsterbattle.monster_magi %>
</p>

<p>
  <strong>Monster loot:</strong>
  <%= @monsterbattle.monster_loot %>
</p>

<p>
  <strong>Monster damage:</strong>
  <%= @monsterbattle.monster_damage %>
</p>

<p>
  <strong>Monstertype:</strong>
  <%= @monsterbattle.monstertype_id %>
</p>

<p>
  <strong>Monster rarity:</strong>
  <%= @monsterbattle.monster_rarity %>
</p>

<p>
  <strong>Round:</strong>
  <%= @monsterbattle.round %>
</p>

<p>
  <strong>Tokens earned:</strong>
  <%= @monsterbattle.tokens_earned %>
</p>

<p>
  <strong>Exp earned:</strong>
  <%= @monsterbattle.exp_earned %>
</p>

<p>
  <strong>Dreyore earned:</strong>
  <%= @monsterbattle.dreyore_earned %>
</p>

<p>
  <strong>Items earned:</strong>
  <%= @monsterbattle.items_earned %>
</p>

<p>
  <strong>Battleover:</strong>
  <%= @monsterbattle.battleover %>
</p>

<p>
  <strong>Started on:</strong>
  <%= @monsterbattle.started_on %>
</p>

<p>
  <strong>Ended on:</strong>
  <%= @monsterbattle.ended_on %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @monsterbattle.partner_id %>
</p>

<p>
  <strong>Monster:</strong>
  <%= @monsterbattle.monster_id %>
</p>

<%= link_to 'Edit', edit_monsterbattle_path(@monsterbattle) %> |
<%= link_to 'Back', monsterbattles_path %>
