<% provide(:h1, "Hubworld") %>
<div class="pageformat">
   <p>Hubworld a navigation system for everything.</p>
   <div class="hublinks">
      <div class=""><%= link_to "Hoard", dragonhoards_path %></div>
      <div class=""><%= link_to "News", blogs_path %></div>
      <div class=""><%= link_to "Item shop", items_shop_path %></div>
      <div class=""><%= link_to "Pet shop", creatures_shop_path %></div>
      <div class=""><%= link_to "Colorschemes", colorschemes_path %></div>
      <div class=""><%= link_to "OCs", ocs_path %></div>
      <div class=""><%= link_to "Items", items_path %></div>
      <div class=""><%= link_to "Creatures", creatures_path %></div>
      <div class=""><%= link_to "Jukeboxes", jukeboxes_path %></div>
      <div class=""><%= link_to "Channels", channels_path %></div>
      <div class=""><%= link_to "Galleries", galleries_path %></div>
      <div class=""><%= link_to "Bookworlds", bookworlds_path %></div>
      <div class=""><%#= link_to "Forums", forums_path %></div>
   </div>
</div>
