<% provide(:h1, @subsheet.title) %>
<p id="notice"><%= notice %></p>
<div class="pageformat">
   <% if current_user && (current_user.id == @subsheet.mainsheet.user_id || current_user.pouch.privilege == "Admin") %>
      <div class="container"><%= button_to 'Edit', edit_mainsheet_subsheet_path(@subsheet.mainsheet, @subsheet), method: :get, class: "button editbutton" %></div> <div class="container"><%= button_to 'Destroy', [@subsheet.mainsheet, @subsheet], method: :delete, class: "button destroybutton", data: { confirm: 'Are you sure?' } %></div>
   <% end %>
   <p>Created: <%= distance_of_time_in_words_to_now @subsheet.created_on %> ago on (<%= @subsheet.created_on.strftime("%B-%d-%Y") %>)</p>
   <p>Updated: <%= distance_of_time_in_words_to_now @subsheet.updated_on %> ago on (<%= @subsheet.updated_on.strftime("%B-%d-%Y") %>)</p>
   <br>
   <% if @subsheet.user.userinfo.miniavatar.to_s != "" %>
      <p><%= image_tag(@subsheet.user.userinfo.miniavatar_url(:thumb)) %></p>
   <% end %>
   <p class="formlinks">Composer: <%= getUserPrivilege(@subsheet.user) %><%= link_to @subsheet.user.vname, user_path(@subsheet.user) %></p>
   <p>Mainsheet: <%= @subsheet.mainsheet.title %></p>
   <p>Collab mode: <%= @subsheet.collab_mode %></p>
   <p>Favorite folder: <%= @subsheet.fave_folder %></p>
   <p>Private subsheet: <%= @subsheet.privatesubsheet %></p>
   <p>Total sounds: <%= @subsheet.sounds.count %></p>
   <p>Status: <%= getActivity(@subsheet.user) %>
      <% if getActivity(@subsheet.user) != "Online" && getActivity(@subsheet.user) != "Inoperable" %>
         for <%= distance_of_time_in_words_to_now getTime(@subsheet.user) %>
      <% end %>
   </p>
   <br>
   <p class="textindent"><%= textFormater("Multi", @subsheet.description, "All").html_safe %></p>
   <br>
   <% if @sounds.count >= 10 %>
      <div class="formlinks"><%= paginate @sounds %></div>
      <br>
   <% end %>
   <% @sounds.each do |sound| %>
      <p class="formlinks"><%= link_to sound.title, subsheet_sound_path(sound.subsheet, sound) %></p>
      <% if current_user && (current_user.id == sound.user_id || current_user.pouch.privilege == "Admin") %>
         <div class="container"><%= button_to 'Edit', edit_subsheet_sound_path(sound.subsheet, sound), method: :get, class: "button editbutton" %></div> <div class="container"><%= button_to 'Destroy', [sound.subsheet, sound], method: :delete, class: "button destroybutton", data: { confirm: 'Are you sure?' } %></div>
      <% end %>
      <p>Created: <%= distance_of_time_in_words_to_now sound.created_on %> ago on (<%= sound.created_on.strftime("%B-%d-%Y") %>)</p>
      <p>Updated: <%= distance_of_time_in_words_to_now sound.updated_on %> ago on(<%= sound.updated_on.strftime("%B-%d-%Y") %>)</p>
      <% if sound.reviewed %>
         <p>Reviewed: <%= distance_of_time_in_words_to_now sound.reviewed_on %> ago on(<%= sound.reviewed_on.strftime("%B-%d-%Y") %>)</p>
      <% end %>
      <% if sound.ogg.to_s != "" || sound.mp3.to_s != "" %>
         <br>
         <p><%= audio_tag(getMusicOrVideo("Sound", sound), :controls => true) %></p>
      <% end %>
      <br>
      <% if sound.user.userinfo.miniavatar.to_s != "" %>
         <p><%= image_tag(sound.user.userinfo.miniavatar_url(:thumb)) %></p>
      <% end %>
      <p class="formlinks">Composer: <%= getUserPrivilege(sound.user) %><%= link_to sound.user.vname, user_path(sound.user) %></p>
      <p>Status: <%= getActivity(sound.user) %>
         <% if getActivity(sound.user) != "Online" && getActivity(sound.user) != "Inoperable" %>
            for <%= distance_of_time_in_words_to_now getTime(sound.user) %>
         <% end %>
      </p>
      <br>
      <p class="textindent"><%= textFormater("Multi", sound.description, "All").html_safe %></p>
      <br>
   <% end %>
   <% if(current_user) %>
      <p><%= button_to "New Sound", new_subsheet_sound_path(@subsheet), method: :get, class: "button submitbutton" %></p>
      <br>
   <% end %>
</div>
<p class="formlinks"><%= link_to "Back", jukebox_mainsheet_path(@subsheet.mainsheet.jukebox, @subsheet.mainsheet) %></p>
