<% if optional %>
   <% provide(:h1, @user.vname +  "'s items") %>
<% else %>
   <% provide(:h1, "Item List") %>
<% end %>
<% if @items.count >= 10 %>
   <div class="formlinks"><%= paginate @items %></div>
   <br>
<% end %>
<% @items.each do |item| %>
   <div class="pageformat">
      <p class="formlinks"><%= link_to item.name, user_item_path(item.user, item) %></p>
      <p>Created on: <%= distance_of_time_in_words_to_now item.created_on %> ago on (<%= item.created_on.strftime("%B-%d-%Y") %>)</p>
      <% if !item.reviewed_on.nil? %>
         <p>Reviewed on: <%= distance_of_time_in_words_to_now item.reviewed_on %> ago on (<%= item.reviewed_on.strftime("%B-%d-%Y") %>)</p>
      <% end %>
      <p>Updated on: <%= distance_of_time_in_words_to_now item.updated_on %> ago on (<%= item.updated_on.strftime("%B-%d-%Y") %>)</p>
      <% if !optional %>
         <br>
         <% if item.user.userinfo.miniavatar.to_s != "" %>
            <p><%= image_tag(item.user.userinfo.miniavatar_url(:thumb)) %></p>
         <% end %>
         <p class="formlinks">Artist: <%= getUserPrivilege(item.user) %><%= link_to item.user.vname, user_path(item.user) %></p>
         <p>Type: <%= item.itemtype.name %></p>
         <p>Status: <%= getActivity(item.user) %>
            <% if getActivity(item.user) != "Online" && getActivity(item.user) != "Inoperable" %>
               for <%= distance_of_time_in_words_to_now getTime(item.user) %>
            <% end %>
         </p>
         <br>
      <% else %>
         <br>
         <p>Type: <%= item.itemtype.name %></p>
         <br>
      <% end %>
      <p class="textindent"><%= textFormater("Multi", item.description, "All").html_safe %></p>
   </div>
   <br>
<% end %>
<% if optional %>
   <p class="formlinks"><%= link_to 'Back', user_path(@user) %></p>
<% else %>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
<% end %>
