<% if optional %>
   <% provide(:h1, @user.vname +  "'s items") %>
<% else %>
   <% provide(:h1, "Item List") %>
<% end %>
<div class="formlinks"><%= paginate @items %></div>
<br>
<div class="pageformat">
   <% @items.each_with_index do |item, index| %>
      <% if(index % 3 == 2) %>
         <div class="container">
      <% else %>
         <!--Container space-->
         <div class="container">
      <% end %>
         <p class="formlinks"><%= link_to item.name, user_item_path(item.user, item) %></p>
         <p>Created</p>
         <p><%= distance_of_time_in_words_to_now item.created_on %> ago on</p>
         <p>(<%= item.created_on.strftime("%B-%d-%Y") %>)</p>
         <p>Updated</p>
         <p><%= distance_of_time_in_words_to_now item.updated_on %> ago on</p>
         <p>(<%= item.updated_on.strftime("%B-%d-%Y") %>)</p>
         <% if !item.reviewed_on.nil? %>
            <p>Reviewed</p>
            <p><%= distance_of_time_in_words_to_now item.reviewed_on %> ago on</p>
            <p>(<%= item.reviewed_on.strftime("%B-%d-%Y") %>)</p>
         <% end %>
         <% if item.itemart.to_s != "" %>
            <br>
            <p><%= image_tag(item.itemart_url(:thumb)) %></p>
         <% end %>
         <% if !optional %>
            <br>
            <% if item.user.userinfo.miniavatar.to_s != "" %>
               <p><%= image_tag(item.user.userinfo.miniavatar_url(:thumb)) %></p>
           <% end %>
           <p class="formlinks">Artist: <%= getUserPrivilege(item.user) %><%= link_to item.user.vname, user_path(item.user) %></p>
           <p>Type: <%= item.itemtype.name %></p>
           <p>Status: <%= getActivity(item.user) %>
              <% if getActivity(item.user) != "Online" && getActivity(item.user) != "Inoperable" %>
                 for <%= distance_of_time_in_words_to_now getTime(item.user) %>
              <% end %>
           </p>
           <br>
         <% else %>
            <br>
            <p>Type: <%= item.itemtype.name %></p>
            <br>
         <% end %>
         <p class="textindent"><%= textFormater("Multi", item.description, "All").html_safe %></p>
      </div>
      <% if index % 3 == 2 %>
         <br>
         <br>      
      <% end %>
   <% end %>
</div>
<% if optional %>
   <p class="formlinks"><%= link_to 'Back', user_path(@user) %></p>
<% else %>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
<% end %>
