<% provide(:h1, "Shop") %>
<div class="formlinks"><%= paginate @items %></div>
<br>
<div class="pageformat">
   <%= form_for(:inventoryslot, url: inventoryslots_purchase_path, method: :post) do |form| %>
      <% if @slots.count > 0 %>
         <p><%= form.collection_select(:inventoryslot_id, @slots, :id, :name) %></p>
      <% else %>
         <p>Inventoryslots are required to buy items!</p>
      <% end %>
      <br>
      <% @items.each_with_index do |item, index| %>
         <% if(index % 3 == 2) %>
            <div class="container">
         <% else %>
            <!--Container space-->
            <div class="container">
         <% end %>
            <% if @slots.count > 0 %>
               <% if index == 0 %>
                  <p class="formlinks"><%= link_to item.name, user_item_path(item.user, item) %><%= form.radio_button :item_id, item.id, :checked => true %></p>
               <% else %>
                  <p class="formlinks"><%= link_to item.name, user_item_path(item.user, item) %><%= form.radio_button :item_id, item.id %></p>
               <% end %>
            <% else %>
               <p class="formlinks"><%= link_to item.name, user_item_path(item.user, item) %></p>
            <% end %>
            <p>Created</p>
            <p><%= distance_of_time_in_words_to_now item.created_on %> ago on</p>
            <p>(<%= item.created_on.strftime("%B-%d-%Y") %>)</p>
            <p>Updated</p>
            <p><%= distance_of_time_in_words_to_now item.updated_on %> ago on</p>
            <p>(<%= item.updated_on.strftime("%B-%d-%Y") %>)</p>
            <% if !item.reviewed_on.nil? %>
               <p>Reviewed</p>
               <p><%= distance_of_time_in_words_to_now item.reviewed_on %> ago on</p>
               <p>(<%= item.reviewed_on.strftime("%B-%d-%Y") %>)</p>
            <% end %>
            <% if item.itemart.to_s != "" %>
               <br>
               <p><%= image_tag(item.itemart_url(:thumb)) %></p>
            <% end %>
            <br>
            <p>Durability: <%= item.durability %></p>
            <p>Rarity: <%= item.rarity %></p>
            <p>Equipable: <%= item.equipable %></p>
            <p>Type: <%= item.itemtype.name %></p>
            <p>Cost: <%= item.cost %></p>
            <p>Emeralds: <%= item.emeraldcost %></p>
            <% if item.user.userinfo.miniavatar.to_s != "" %>
               <br>
               <p><%= image_tag(item.user.userinfo.miniavatar_url(:thumb)) %></p>
            <% end %>
            <p class="formlinks">Artist: <%= getUserPrivilege(item.user) %><%= link_to item.user.vname, user_path(item.user) %></p>
            <p>Status: <%= getActivity(item.user) %>
               <% if getActivity(item.user) != "Online" && getActivity(item.user) != "Inoperable" %>
                  for <%= distance_of_time_in_words_to_now getTime(item.user) %>
               <% end %>
            </p>
            <br>
            <p>Stats</p>
            <%= getItemStats(item, item.itemtype.name) %>
         </div>
         <% if index % 3 == 2 %>
            <br>
            <br>      
         <% end %>
      <% end %>
      <% if @slots.count > 0 %>
         <div class="pageformat"><%= form.submit "Purchase", class: "button submitbutton" %></div>
         <br>
      <% end %>
      <p class="formlinks"><%= link_to 'Back', root_path %></p>
   <% end %>
</div>
